<div class="row">
  <div class="col-md-12">
    <h1>Arctic Connect Portal Login</h1>

    <p>
      You can login using any of the providers listed below.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>
      <%= link_to "/auth/facebook", class: "btn btn-default col-xs-12" do %>
      <i class="fa fa-facebook-official login"></i><br>
      Login via Facebook
      <% end %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <%= link_to "/auth/google_oauth2", class: "btn btn-default col-xs-12" do %>
      <i class="fa fa-google login"></i><br>
      Login via Google
      <% end %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <%= link_to "/auth/twitter", class: "btn btn-default col-xs-12" do %>
      <i class="fa fa-twitter login"></i><br>
      Login via Twitter
      <% end %>
    </p>
  </div>
</div>

<div class="row m-t-lg">
  <div class="col-md-4">
    <p>
      <%= link_to "/auth/browser_id", class: "btn btn-default col-xs-12" do %>
      <i class="fa fa-user login"></i><br>
      Login via Mozilla Persona
      <% end %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <%= link_to "/auth/open_id", class: "btn btn-default col-xs-12" do %>
      <i class="fa fa-openid login"></i><br>
      Login via OpenID
      <% end %>
    </p>
  </div>
</div>

<% if Rails.env == "development" %>
<div class="row">
  <div class="col-md-12">
    <h3>Developer Login Options</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <p>
      <%= link_to "/auth/gitlab", class: "btn btn-default col-xs-12" do %>
      <i class="fa fa-git login"></i><br>
      Login via GSW Gitlab
      <% end %>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <%= link_to "/auth/developer", class: "btn btn-default col-xs-12" do %>
      <i class="fa fa-wrench login"></i><br>
      Login via Developer access
      <% end %>
    </p>
  </div>
</div>
<% end %>
