<div class="row">
  <div class="col-md-12">
    <h1>Arctic Connect Portal</h1>

    <p>
      Arctic Connect is a platform for discovering and sharing Arctic research data.
    </p>
    <p>
      <%= link_to "User Access", page_path('home'), class: "btn-primary btn" %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to "/" do %>
    <h2 class="text-center">Arctic BioMap</h2>
    <%= image_tag "biomap.png", class: "img-responsive img-thumbnail" %>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= link_to "http://records.arcticconnect.org/" do %>
    <h2 class="text-center">Arctic Scholar</h2>
    <%= image_tag "scholar.png", class: "img-responsive img-thumbnail" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= link_to "http://webmap.arcticconnect.org/" do %>
    <h2 class="text-center">Arctic Web Map</h2>
    <%= image_tag "webmap.png", class: "img-responsive img-thumbnail" %>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= link_to "http://sensorweb.arcticconnect.org/" do %>
    <h2 class="text-center">Arctic Sensor Web</h2>
    <%= image_tag "sensorweb.png", class: "img-responsive img-thumbnail" %>
    <% end %>
  </div>
</div>
