<h1>All Map Notes</h1>

<p><%= pluralize @map_notes.count, "map  note" %>.</p>

<table class="table">
<tr>
  <th>ID</th>
  <th>User</th>
  <th>Date Created</th>
  <th>Comment</th>
  <th>Resolution</th>
  <th>State</th>
  <th>View</th>
  <th>Remove</th>
</tr>
<% for note in @map_notes %>
<tr class="<%= "deleted" if note.deleted_at %>">
  <td><%= note.id %></td>
  <td><%= mail_to note.user.email, note.user.identity %></td>
  <td title="<%= note.created_at %>"><%= time_ago_in_words(note.created_at) %> ago</td>
  <td><%= note.comment %></td>
  <td><%= note.resolved %></td>
  <td><%= note.deleted_at ? "Deleted" : "Active" %></td>
  <td><%= link_to "View", admin_map_note_path(note), class: "btn btn-default" %></td>
  <td><%= link_to "Delete", admin_map_note_path(note), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %></td>
</tr>
<% end %>
</table>
